

  body{
    
    width: 100%;
    min-height: 100vh;
    display:block;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    padding-left:10%;
  
  }
  
  .header{
    
    padding: 15px;
    padding-left: 27%;
    color: rgb(255, 255, 255)
  }

  .form{
    padding: 18px;
    width: 70%;
    
   
    
  }

  .form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position:relative;
  }

  .form-content label{
    display: inline-flexbox;
    width: 10%;
    margin-bottom: 4px;
    border: 10px;
  }


  .form-content input{
    
    display:block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf
  }

  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }

  .form button{
    
  }


  .form-content.error input{
    border-color: #ff3b25;
  }

  .form-content.error a{
    color: #ff3b25;
    visibility: visible;
  }

